/* global setting */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=ZCOOL+KuaiLe&display=swap');

*{
    margin: 0;
    padding: 0;
}

.App{
    display: flex;

    align-items: center;
    justify-content: center;

    height: 100vh;
}

#wrapper{
    display: flex;

    align-items: center;
    justify-content: center;

    height: 280px;
    width: 320px;

    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-app-region: drag;
}

input{
    border: none;
    outline: none;

    -webkit-app-region: no-drag;
}

svg{
    -webkit-app-region: no-drag;
}

::-webkit-scrollbar {
    width: 0;
}

/* animation */
@keyframes shake{
    0% {
        transform: translateY(0px);
    }
    25% {
        transform: translateY(4px);
    }
    50% {
        transform: translateY(0px);
    }
    75% {
        transform: translateY(-4px);
    }
    100% {
        transform: translateY(0px);
    }
}

@keyframes zoomInOut {
    50% {
        transform: scale(1.05);
    }
}

@keyframes showFromNothing {
    0% {
        opacity: 0.6;
    }
    100% {
        opacity: 1;
    }
}

/* Entrance */
#entrance{
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
}

#entrance p{
    margin: 1em;

    font-family: 'ZCOOL KuaiLe', cursive;
    font-size: 2em;
    color: #7ed6df;

    cursor: default;
}

#entrance input{
    font-size: 1.2em;

    margin: 0.6em;
}

#entrance input[type="text"]{
    display: block;

    padding: 4px;
    border-radius: 2px;

    width: 180px;
    text-align: center;

    color: aliceblue;
    background-color: rgba(255, 255, 255, 0.4);
}

#entrance input[type="text"]::placeholder{
    transform: scale(0.8);

    color: aliceblue;
}

#entrance input[type="submit"]{
    display: block;

    padding: 4px;
    border-radius: 4px;

    font-family: 'Dancing Script', cursive;
    font-size: 2em;
    color: #ff7979;
    background-color: transparent;
}

#entrance input[type="submit"]:hover{
    cursor: pointer;

    animation: shake 0.5s ease-in-out,zoomInOut 0.5s ease-in-out;
}

/* main content */
#mainContent{
    position: relative;

    display: flex;
    flex-direction: column;

    width: 280px;

    font-family: KaiTi, serif;
    color: aliceblue;
}

#danMuArea{
    list-style: none;
    user-select: none;

    -webkit-app-region: no-drag;

    height: 260px;
    max-height: 260px;
    overflow-y: scroll;

    margin-top: 4px;
    margin-bottom: 4px;
}

#danMuArea li{
    margin: 0.4em 0.2em 0.4em 0.4em;

    animation: showFromNothing 1s ease-out;
}

#danMuArea .medal{
    display: inline-block;

    border: 1px solid #7ed6df;
    border-radius: 4px;

    padding-left: 0.2em;
    padding-right: 0.2em;

    font-size: 0.8em;
}

#danMuArea .medal span{
    font-family: FangSong, serif;
}

#danMuArea .medalName{
    color: #c7ecee;
}

#danMuArea .medalLevel{
    color: #c7ecee;
}

#danMuArea a{
    text-decoration: none;

    color: #00cec9;
}

#danMuArea .username{
    color: #74b9ff;
}

#danMuArea .giftDisplay{
    font-size: 0.8em;
}

#danMuArea .userIcon{
    display: inline-block;
    vertical-align: middle;

    height: 1.4em;
    width: 1.4em;

    border-radius: 50%;
    margin-bottom: 4px;
}

#danMuArea .userIcon:hover{
    transform: scale(1.6);
}

#danMuArea .giftNum{
    color: #55efc4;
}

#danMuArea .giftName{
    color: #f6e58d;
}

#danMuArea .enterEffect{
    font-size: 0.8em;
}

#danMuArea .specialEnter{
    /* first date */
    color: #fab1a0;
}

/* btn group */
#btnList{
    display: flex;
    flex-direction: row;

    position: absolute;
    bottom: -5px;
    right: -2px;
}

#btnList li{
    display: inline-block;
    padding: 2px;
    border-radius: 50%;

    list-style: none;
}

#btnList li:hover{
    cursor: pointer;
    background-color: rgba(116, 125, 140, 0.6);
}

#btnList li.conceal{
    display: none;
}

#btnList svg{
    height: 0.9em;
    width: 0.9em;

    color: #ced6e0;

    margin-left: 0.1em;
    margin-right: 0.1em;
    margin-bottom: 2px;
    vertical-align: middle;
}

#btnList li:hover svg{
    color: #a4b0be;
}

#giftBtn{
    height: 0.8em;
    width: 0.8em;
}

#giftBtn.focus{
    color: #f8a5c2;
}

#soundBtnOn.focus{
    color: #2ed573;
}

#btnList li:hover #giftBtn{
    color: #f8a5c2;
}

#btnList li:hover #soundBtnOn{
    color: #2ed573;
}

#btnList li:hover #exitBtn{
    color: #ff4757;
}





