@import url('https://fonts.googleapis.com/css2?family=Ma+Shan+Zheng&family=Source+Sans+Pro&display=swap');

@keyframes showLater {
    from{
        opacity: 0.6;
    }
    to{
        opacity: 1;
    }
}

* {
    margin: 0;
    padding: 0;
}

body{
    overflow-y: hidden;
    font-family: 'Source Sans Pro', sans-serif;
    -webkit-app-region: drag;
}

.noDrag{
    -webkit-app-region: no-drag;
}

input{
    -webkit-app-region: no-drag;
}

button{
    -webkit-app-region: no-drag;
}

.Wrapper{
    position: relative;
    display: flex;

    align-items: center;
    justify-content: center;

    font-size: 1.1em;

    margin-top: 0.2em;
    padding: 1em 0;
    border-radius: 12px;

    background-color: rgba(0, 0, 0, 0.6);
}

#roomIdInput{
    box-sizing: border-box;
    outline: none;
    border: none;

    font-size: 0.8em;

    height: 2em;
    width: 12em;

    margin-right: 1em;
    text-align: center;

    color: #ffeaa7;
    background-color: rgba(200, 200, 200, 0.4);
}

#roomIdInput::placeholder{
    font-size: 0.9em;
    color: #ffeaa7;
}

#roomIdBtn{
    border: none;
    border-radius: 2px;
    outline: none;

    font-size: 0.8em;

    height: 2em;
    width: 3.2em;

    color: aliceblue;
    background-color: #ff6b6b;

    cursor: pointer;
}

#roomIdBtn:hover{
    transform: scale(1.02);
}

ul{
    display: flex;
    flex-direction: column;

    max-height: 240px;

    box-sizing: border-box;

    text-decoration: none;
    margin: 0;

    overflow-y: scroll;
}

ul::-webkit-scrollbar{
    display: none;
}

li{
    display: block;

    width: 92vw;
    color: aliceblue;

    animation: showLater 1s ease-out;
}

li p {
    margin: 0.2em 3.6vw;

    font-family: 'Ma Shan Zheng', cursive;
    font-size: 0.96em;
}

li p a{
    font-family: "仿宋", "Arial Narrow", serif;
    font-weight: 600;
    text-decoration: none;
    color: #0abde3;
}

li p a:hover{
    text-decoration: underline;
}

li p small{
    font-size: 0.8em;
    font-family: "楷体", "Arial Narrow", serif;
    font-weight: 400;
}

.username{
    color: #0abde3;
}

.giftName{
    color: #ffeaa7;
}

.btns{
    display: flex;
    position: absolute;

    flex-direction: row;

    right: 1.8em;
    bottom: 1px;

    overflow: hidden;
}

.mainBtn{
    border: none;
    outline: none;

    height: 18px;
    width: 18px;

    margin-left: 0.4em;

    color: rgba(255, 255, 255, 0.4);
    background-color: transparent;

    cursor: pointer;
}

.mainBtn:hover .bi{
    transform: translateY(-1px);
}

#drag{
    height: 15px;
    width: 15px;

    margin-top: 1px;
    color: #0abde3;
}

#drag.noDrag{
    color: #636e72;
}

#refresh:hover{
    color: #fdcb6e;
}

#gift{
    height: 14px;
    width: 14px;

    margin-top: 1px;
}

#gift:hover{
    color: #fab1a0;
}

#mute{
    opacity: 0.8;
}

#mute:hover{
    opacity: 0.5;
}

#exit:hover{
    color: #ED4C67;
}